.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 10;
}
.currentWeather {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.far {
  font-size: 70px;
}
.todayFeature {
  line-height: 5px;
  position: relative;
  bottom: -70px;
}
.currentDate {
  line-height: 5px;
}

.col-1 {
  padding: 0px;
}

.form-control {
  padding-right: 110px;
}

.units {
  position: relative;
  font-size: 15px;
  top: -32px;
}

.git-link {
  border: 1px solid white;
  max-width: 500px;
}
