h1 {
  color: #a17c76;
  font-family: "Teko", sans-serif;
}

.feature {
  color: #c39286;
}

.weather-app {
  border: 1px solid white;
  padding: 15px;
  margin: 20px auto;
  max-width: 550px;
  border-radius: 10px;
  background-image: url(https://i.pinimg.com/originals/f2/89/63/f2896393df085e0ef3cfc7c87e06510c.jpg);
}

.currentWeather {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.cityName {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 7px;
}

.todayFeature {
  line-height: 5px;
  position: relative;
  bottom: -120px;
}
.currentDate {
  line-height: 5px;
}

.col-1 {
  padding: 0px;
}

.form-control {
  padding-right: 110px;
}

.units {
  position: relative;
  font-size: 15px;
  top: -32px;
  color: #a17c76;
}

.active {
  cursor: default;
  color: #c39286;
}

.active:hover {
  color: #c39286;
}

#weather-now {
  font-size: 64px;
}

.git-link {
  border: 1px solid transparent;
  margin: 0 auto;
  max-width: 550px;
  border-radius: 10px;
}
.today-weather {
  margin-bottom: 0;
  padding-bottom: 0;
}

.weather-forecast {
  margin-top: 0;
  text-align: center;
  color: #a17c76;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}

.min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}

.button {
  color: #a17c76;
  background-color: white;
  border-width: 0ch;
  border-radius: 5px;
  padding: 4px;
}

.button:hover {
  color: white;
  background-color: #a17c76;
  transition: ease-in-out 200ms;
}

#weather-now {
  color: #a17c76;
}
